<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<div>
  <canvas id="myChart" width="400" height="400"></canvas>
  <script>
    const ctx = document.getElementById('myChart');
    const data = {
      labels: gon.testing,
      datasets: [{
        label: 'My First Dataset',
        data: [65, 59, 90, 81, 56, 55, 40],
        fill: true,
        backgroundColor: 'rgba(255, 99, 132, 0.2)',
        borderColor: 'rgb(255, 99, 132)',
        pointBackgroundColor: 'rgb(255, 99, 132)',
        pointBorderColor: '#fff',
        pointHoverBackgroundColor: '#fff',
        pointHoverBorderColor: 'rgb(255, 99, 132)'
      }, {
        label: 'My Second Dataset',
        data: [28, 48, 40, 19, 96, 27, 100],
        fill: true,
        backgroundColor: 'rgba(54, 162, 235, 0.2)',
        borderColor: 'rgb(54, 162, 235)',
        pointBackgroundColor: 'rgb(54, 162, 235)',
        pointBorderColor: '#fff',
        pointHoverBackgroundColor: '#fff',
        pointHoverBorderColor: 'rgb(54, 162, 235)'
      }]
    };

    const config = {
      type: 'radar',
      data: data,
      options: {
        elements: {
          line: {
            borderWidth: 3
          }
        }
      },
    };

    const myChart = new Chart(ctx, config);
  </script>
  <%# <%= line_chart User.group_by_day(:created_at).count %> %>
  <%# <%= line_chart BeerRecipe.group_by_day(:created_at).count %> %>
  <%# <% data = {"2021-01-01" => 2, "2021-01-02" => 3} %>
  <%# <%= line_chart ({"2021-01-01" => 2, "2021-01-02" => 3}), xtitle: "Time", ytitle: "Population" %> %>
  <%# <%= line_chart data, xtitle: "Time", ytitle: "Population" %> %> %>
</div>


<% @recipe.attributes.each do |attr_name, attr_value| %>
  <p> <%= attr_name +': '+  attr_value.to_s%> </p>
<% end %>
<p><%= @user.email %></p>
